/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Danfo&display=swap');

:root {
  /* Colores para el modo claro */
  --background: #0fa968; /* Fondo verde claro para el modo claro */
  --foreground: #000000; /* Texto negro para el modo claro */
  
  /* Colores para el modo oscuro */
  --background-dark: #003d2f; /* Fondo verde oscuro para el modo oscuro */
  --foreground-dark: #0fa968; /* Texto verde claro para el modo oscuro */
}

/* Estilos para el modo claro (por defecto) */
body {
  background-color: var(--background); /* Fondo verde claro por defecto */
  color: var(--foreground); /* Texto negro por defecto */
  font-family: 'Danfo', serif; /* Aplica la fuente Danfo */
  transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

/* Estilos para el modo oscuro */
.dark {
  --background: var(--background-dark); /* Fondo verde oscuro */
  --foreground: var(--foreground-dark); /* Texto verde claro */
}

html, body {
  height: 100%;
  margin: 0;
}
